.job-item {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    display: flex;
    font-size: 1.2em;
}

.job-item .job-title {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Ambit';
    font-weight:700;

    border-right: 2px solid black;
}

.job-item .job-description {
    width: 50%;
    height: 100%;
    margin-left: 1%; 
    margin-right: 1%;

    font-family: 'Nunito', sans-serif;

    border-right: 2px solid black;
}

.job-item .job-payment {
    width: 15%;
    height: 100%;
    margin-left: 1%; 

    font-family: 'Nunito', sans-serif;

    border-right: 1px solid black;
}

.job-item .job-more {
    width: 15%;
    height: 100%;

    font-family: 'Nunito', sans-serif;

    border-right: 1px solid black;
}

.job-more button {
    width: 100%;
    height: 100%;

    border: none;

    font-family: 'Ambit';
    background-color: rgb(26, 26, 26);
    color: white;

    cursor: pointer;
}

.job-more button:hover {
    border: 2px solid ghostwhite;
}